.venv
.env
test.py
batch_processing
output/youtube_segment
output/speaker_segments3
__pycache__
temporary_folder
converted_audio 
test_audio/y2mate.com - Boost Up Your English Skills  English Podcast Conversation  Episode 23 .mp3
multi_spk
temp
downloads
audio_chunks